.space {
  margin: 15px;
  padding: 10px;
}
.container-img {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  .main-img {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
  }
}

.text {
  margin: 1.2rem;
}
.container-2 {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
}

.middle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  margin-top: 8px;
}
li {
  list-style: none;
}

.homepageImgs {
  width: 100%;
  max-width: 350px;
  border-radius: 25px;
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
}
.nature {
  margin: -10px;
  width: 100%;
  max-width: 250px;
  border-radius: 25px;
}
.center {
  width: 100%;
  max-width: 180px;
  border-radius: 25px;
  margin-right: -50px;
}
// //---
.slider-area,
.slider {
  position: relative;
  width: 100%;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  // padding: 10px;
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
}
.slides {
  display: none;
  transition: 0.3s ease-in-out;
}
.picture {
  display: block;
  max-width: 500px;
  transition: 0.3s ease-in-out;
}
.flower {
  width: 100%;
  max-width: 175px;
}
