.right-side-side {
  background-image: url(/pictures/adminImg/login-img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-position-x: left;
}
.left-side,
.right-side-side {
  height: 100vh;
  width: 50%;
}
