$text-color: #373737;
$button-color: #becc94;
$header-link: #5d7b01;
$bg-base: #f5f5f5;
body {
  font-family: "Poppins", Arial, sans-serif;
}
// * {
//   outline: 2px solid red;
// }

p {
  font-size: 1.2rem;
}
